@import 'utils';

.header-image{
    width: 100%;
    margin-top:-1.5em;
    margin-bottom:2em;
    height: 435px;
 
}

img.header-image{
    opacity: 0.9;
   
}
.sidebar-section img{
    width:100%;
    margin-bottom :2em;

}

.about-title{
    color: $oc-gray-7
}