
@import url("//fonts.googleapis.com/css?family=Quicksand");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: inherit;
}


a {
  text-decoration: inherit;
  color: inherit;
}
