@import "utils";

p {
    font-size: 15px;
}

.container-fluid{
    height:80px !important;
    padding:13px;
/*    width: 800px !important; */
}

.jumbotron{
/*    margin-bottom: 4em;
*/    margin-top: -2em;
    width:100%;
    height:600px;
    background-color: #364fc7;
    padding: 7% 15%;

  font-weight: 600;
}

.btn-primary{
    background: #5c7cfa !important;
    background-image: none;
    border:none;
    border-radius: 6px;
    color:white;
    font-size: 2em;

    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding: 1.5%;
    margin-top:5%;

}
.btn-primary:hover{
    background-color: $oc-orange-3;

}
.function-wrapper{
    margin-bottom:2em;
}

.function-pic{
  margin-top: 5em;

  width: 200px;
  height: 200px;
  display: inline;
  margin-left: 27%;    
  margin-right: auto;

}

/*.lower-div{
    margin-top: -2.2em;
    height:600px;

    background-color: #dbe4ff;

}
*/
.discription{

  display: inline;
  margin-left: 25%;    
  margin-right: auto;


}


h2{
    margin-top: 1.2em;
    font-size: 4em;
    font-weight: 500;
    color: white;
    text-align: center;
}

h3{
    margin-top: 1.1em;
    margin-bottom: 1em;
    color:white;
    text-align: center;

}