@import 'utils';

.Background {
    height: 100vh;
    display: flex;
    color: #445366;
    margin-top: -20px;
  }
  
  .App__Aside {
    width: 50%;
    background-color: #FFDD98;
    color: white;
    font-weight: 600;
    font-size: 5rem;
    padding: 20% 15%;

  }

  .chooseac_title{
      color: #343a40;
      font-size: 1.7em;
  }
  
  .App__Account {
    width:50%;
    background-color:white;
    padding: 7% 10%;
    overflow: auto;
  }


  .FormTitle__Link__Account{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }



 

  .freelancer_pic{
      width:60px;
      float: left;
  }

  .project_pic{
    width:60px;
    float: left;
}



  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
 
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .FormCenter {
    margin-bottom: 0px;
  }
  
  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .FormTitle__Link_Choosetype--Active {
    color: $oc-orange-8;
    
  }


  .FormField_edit_account_info{
    margin-top: 30px;
    border-bottom: 1px solid #225E62;
    display: flex;
    justify-content: center;
  }


  button, input, select{
    border: none;
    padding: 10px;
    border-bottom: 1px solid #445366;
  }

  textarea#projectDescription{
    border: 1px solid #445366;
  }

.projectList.jumbotron.jumbotron-fluid {
    background: white;
    padding: 2% 0%;
    height : 480px;
}

.projectList.row{
    margin-bottom: 20px;
    
}

.projectList.card.card-body{
    border: 1px solid #dfdfdf;
    padding: 3%;
    height:240px;
}


button.FormField__Button.projectList.btn.btn-secondary{
    padding: 10px 50px;
}

button.FormField__Button.changepassword{
    padding: 10px 45px;
    margin-bottom: 0px;
}

li.userinfo.active.breadcrumb-item{
    color:#141414;
    font-size: 16px;
}

button.FormField__Button_Confirm.userinfo{
    padding: 10px 45px;
}

  

